@import '../../themify.scss';
@import '../../theme.scss';
.toggleButton {
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
    background: #e8e8e8;
    border-radius: 50%;
    margin: auto;
    border: none;
    cursor: pointer;
    &:hover {
        @include themify($themes) {
            background-color: themed('shadowColor');
        }
    }
    &:active,
    &:focus {
        outline: none;
    }
}
.toggleButton.big {
    padding: 1em;
}
