@import '../../themify.scss';
@import '../../theme.scss';

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    position: relative;

    @include themify($themes) {
        border-top: 1px solid themed('borderColor');
    }

    .item {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;

        @include themify($themes) {
            border-bottom: 1px solid themed('borderColor');
        }

        .image {
            object-fit: cover;
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin: 0.5em 1em;
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 0.5em 0;
            flex: 1;

            .name {
                font-size: 1.2em;
                text-transform: capitalize;
                margin: 0;
                padding: 0;
                font-weight: bold;
            }

            .description {
                font-size: 0.7em;
            }

            .link {
                margin: .5em 1em 0;
                display: flex;
                justify-content: flex-end;
                font-size: 0.9em;

                @include themify($themes) {
                    color: themed('primaryColor');
                }

                &:hover {
                    font-weight: 1000;
                }

            }
        }


    }
}