@import "~bootstrap/scss/bootstrap.scss";
@import '../../themify.scss';
@import '../../theme.scss';

// pallete:
$dark: #2c0703;
$darkAlt: #2c070333;
$primary: #7a1130;
$primaryAlt: #7a113033;
$secondary: #72705b;
$alternative: #d6e3f8;
$light: #e4bb97;
$background: #fef5ef;
$text: #868686;
$imageSize: 140px;


* {
  font-size: 11.8pt;
  font-family: "Monserrat-Regular", "Reboto", helvetica, arial, sans-serif;
  -webkit-print-color-adjust: exact !important;
}

a {
  text-decoration: none;

  @include themify($themes) {
    color: themed('primaryColor');
  }
}

h5 {
  text-decoration: underline;
  font-weight: bold;

  @include themify($themes) {
    color: themed('textColor');
  }
}

ul {
  margin: 0;
}

.template {
  position: relative;
  z-index: 1;


  .header {
    color: #fafafa;
    font-weight: 400;
    height: 280px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    border-color: black;
    margin-bottom: -4em;

    &::before {
      content: "";
      top: 50%;
      left: 50%;
      width: 110%;
      height: 160px;
      transform: translate(-50%, -100%) rotate(10deg);
      background-color: $primary;
      position: absolute;
    }

    &::after {
      content: "";
      top: 50%;
      left: 50%;
      width: 110%;
      height: 160px;
      transform: translate(-50%, -100%) rotate(-10deg);
      background-color: $primary;
      position: absolute;
    }

    .image {
      width: $imageSize;
      height: $imageSize;
      border-radius: 50%;
      object-fit: cover;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0%);
      padding: 0.1em;
      background-color: #fff;
      border: 3px solid $darkAlt;
      position: absolute;
      z-index: 9999;
    }

    .contact {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 99;
      padding: 0.1em;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact-icons {
        margin-top: 0.5em;
        display: flex;

        svg {
          &:hover {
            transform: scale(1.2);
          }

          font-size: 22px;
          margin-left: 0.5em;
          margin-right: 0;
        }
      }

      svg {
        margin-right: 0.5em;
        color: $secondary;
        color: white;
      }

      p {
        margin-bottom: 0.1em;
        color: $dark;
        display: flex;
        align-items: center;
      }

      p,
      a,
      span,
      svg {
        font-size: 13px;
        color: white;
        text-transform: up;
      }
    }
  }

  .basic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name {
      margin: 0.5em 0 0.2em;
      font-size: 1.8em;
      text-transform: uppercase;
      font-weight: bold;
    }

    .title {
      margin: 0;
      font-size: 1.2em;
      text-transform: capitalize;
      border: 1px solid $dark;
      font-weight: bold;
      padding: 0.2em 0.6em;
      border-radius: 4px;
      position: relative;

      &::before {
        content: "";
        left: -75px;
        width: 75px;
        height: 1px;
        border-top: 1px solid $dark;
        top: 50%;
        position: absolute;
      }

      &::after {
        content: "";
        right: -75px;
        width: 75px;
        height: 1px;
        border-top: 1px solid $dark;
        top: 50%;
        position: absolute;
      }
    }
  }

  .abstract {
    font-style: italic;
    margin-bottom: 0rem;
  }

  // timeline
  //https://codepen.io/cplepage/pen/EozVXL
  .circle {
    font-weight: bold;
    //padding: 14px 20px;
    border-radius: 50%;
    background-color: $primary;
    color: $secondary;
    height: 50px;
    width: 50px;
    z-index: 2;
    position: relative;

    svg {
      position: absolute;
      color: white;
      font-size: 1.6em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .how-it-works.row {
    display: flex;
    position: relative;

    .col-2 {
      display: inline-flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        border-left: 3px solid $primary;
        z-index: 1;
      }
    }
  }

  .timeline {
    position: relative;
    padding: 2em 0;

    div {
      padding: 0;
      height: 40px;
    }

    hr {
      border-top: 3px solid $primary;
      margin: 0;
      top: 17px;
      position: relative;
      opacity: .8;
    }

    .col-2 {
      display: flex;
      overflow: hidden;
    }

    .corner {
      border: 3px solid $primary;
      width: 100%;
      position: relative;
      border-radius: 20px;
    }

    .top-right {
      left: 50%;
      top: -50%;
    }

    .left-bottom {
      left: -50%;
      top: calc(50% - 3px);
    }

    .top-left {
      left: -50%;
      top: -50%;
    }

    .right-bottom {
      left: 50%;
      top: calc(50% - 3px);
    }
  }

  .logo {
    position: absolute;
    width: 200px;
    right: 0;
    top: 0;
    transform: translate(0%, -45%);
  }
}