$animationTime: 0.24s;
$primaryColor: #7a1130;
$themes: (
    light: (
        backgroundColor: #fafafa,
        alternativeBackgroundColor: #f6f6f6,
        textColor: #484848,
        borderColor: #e8e8e8,
        shadowColor: #cecece,
        primaryColor: $primaryColor,
        lightPrimaryColor: #5a0c23,
    ),
    dark: (
        backgroundColor: #444,
        alternativeBackgroundColor: #282828,
        textColor: #fafafa,
        borderColor: #555,
        shadowColor: #dedede,
        primaryColor: #e53e70,
        lightPrimaryColor: #a61742,
    ),
);
